<div class="image">
  <h1>MEMsing</h1>
</div>
<form [formGroup]="authForm" (ngSubmit)="tryLogin()" aria-labelledby="title">
  <div class="form">
    <ion-item>
      <!-- <ion-label position="floating">Email:</ion-label> -->
      <ion-icon name="person-outline"></ion-icon>
      <ion-input
        formControlName="email"
        name="email"
        type="email"
        [attr.aria-invalid]="email.invalid && email.touched ? true : null"
        placeholder="Email"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label position="floating">Password:</ion-label> -->
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input
        type="password"
        formControlName="password"
        [attr.aria-invalid]="password.invalid && password.touched ? true : null"
        placeholder="Password"
      >
      </ion-input>
    </ion-item>
  </div>
  <div class="error">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption-2 status-danger" *ngIf="email.errors?.pattern">
        Please provide correct email format!
      </p>
      <p
        class="caption-2 status-danger"
        *ngIf="authForm.controls['email'].hasError('required')"
      >
        Email is required!
      </p>
    </ng-container>
    <ng-container *ngIf="password.invalid && password.touched">
      <p
        class="caption-2 status-danger"
        *ngIf="authForm.controls['password'].hasError('required')"
      >
        Password is required!
      </p>
    </ng-container>
  </div>
  <div class="button background">
    <div class="forgot">
      <p (click)="navigateTo('auth/forget')">Forgot password ?</p>
    </div>
    <div class="login">
      <ion-button
        [disabled]="authForm.invalid"
        type="submit"
        expand="block"
        shape=""
      >
        Get started
      </ion-button>
    </div>
    <div class="create" (click)="navigateTo('auth/register')">
      <p>Create a new account</p>
    </div>
  </div>
</form>

<!-- <div class="center">
  <a>
    <ion-icon name="help-circle"></ion-icon>Help
  </a>
</div> -->
