ion-item {
  --background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  margin: 20px 0px;

  ion-icon {
    font-size: 17px;
  }

  ion-input {
    margin-left: 10px;
    font-size: 15px;
  }

}

div.image {
  text-align: center;

  h1 {
    font-size: 40px;
    color: white;
  }
}


.message {
  font-size: 12px;
  color: rgb(240, 240, 240);
  text-align: left;
}

.status-danger {
  font-size: 12px;
  color: rgb(243, 243, 243);
  text-align: left;
}

.forgot {
  text-align: right;

  p {
    font-size: 13px;
    font-weight: 600;
    color: #008cc4;
  }
}

.create {

  p {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }
}

.error {
  padding-left: 20px;
  height: 30px;
}