<div class="image">
  <h1>MEMsing</h1>
</div>
<form
  [formGroup]="authForm"
  (ngSubmit)="tryResetPassword()"
  aria-labelledby="title"
>
  <div class="form">
    <ion-item>
      <!-- <ion-label position="floating">Email:</ion-label> -->
      <ion-icon name="person-outline"></ion-icon>
      <ion-input
        formControlName="email"
        name="email"
        type="email"
        [attr.aria-invalid]="email.invalid && email.touched ? true : null"
        placeholder="Email"
      >
      </ion-input>
    </ion-item>
  </div>
  <div class="error">
    <!-- <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption-2 status-danger" *ngIf="email.errors?.pattern">
        Please provide correct email format!
      </p>
      <p
        class="caption-2 status-danger"
        *ngIf="authForm.controls['email'].hasError('required')"
      >
        Email is required!
      </p>
    </ng-container> -->
  </div>
  <div class="button background">
    <ion-button
      [disabled]="authForm.invalid"
      type="submit"
      expand="block"
      shape=""
    >
      Submit
    </ion-button>
    <div class="create" (click)="navigateTo('auth/login')">
      <p>Back to login</p>
    </div>
  </div>
</form>

<!-- <div class="center">
  <a>
    <ion-icon name="help-circle"></ion-icon>Help
  </a>
</div> -->
