ion-header {
  ion-toolbar {
    div.toolbar {
      height: 73px;
      display: flex;
      // justify-content: space-between;

      ion-button {
        position: absolute;
        top: 14px;
        left: -15px;
      }

      div.back {
        ion-icon {
          color: red;
        }
      }

      ion-title {
        width: 100%;
        text-align: center;

        p {
          font-size: 25px;
          font-weight: 700;
          margin: 20px 0px;
        }
      }

      div.user {
        position: absolute;
        padding: 0px 0px;
        // background-color: blue;
        // float: right;
        right: 0;

        img {
          // right: 0px;
          width: 70px;
        }
      }
    }
  }
}

ion-content {
  --padding-start: 15px;
  --padding-end: 15px;

  div.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
    padding: 0px 15px;

    div.title-hero {
      font-size: 20px;
      font-weight: 800;
      color: #024058;
    }

    div.id {
      font-size: 20px;
      font-weight: 600;
      color: #b1b1b1;
    }
  }
}



ion-card {
  ion-card-content {
    div.row:nth-child(1) {
      width: 100%;
      justify-content: space-between;
      // background-color: greenyellow;

      div.col {
        // background-color: antiquewhite;
        width: 100%;
        display: flex;
      }
    }

    div.category {
      width: 70%;
      // background-color: red;

      p {
        color: #575757;
        font-size: 15px;
        font-weight: 700;
      }
    }

    div.time {
      width: 30%;
      // background-color: blue;


      p {
        margin-top: 2px;
        text-align: right;
        font-size: 14px;
        font-weight: 500;
      }
    }

    div.row:nth-child(2) {
      width: 100%;
      // justify-content: center;
      // background-color: greenyellow;

      div.col {
        // background-color: antiquewhite;
        width: 100%;
        display: flex;
        justify-content: center;

        div.content {
          display: flex;
          padding: 15px 0px 0px 0px;
        }
      }
    }

    div.temperature {
      // width: 70%;
      // background-color: red;

      ion-icon {
        font-size: 50px;
        color: #023C52;
      }
    }

    div.value-1 {
      // width: 30%;
      // background-color: blue;

      p {
        margin-top: 2px;
        font-size: 35px;
        font-weight: 500;
      }
    }


  }
}


ion-card.setting {
  div.item {
    display: flex;
    justify-content: space-between;

    div.value {
      p {
        font-weight: 400;
      }
    }
  }


}